<div    class="card"
        style="width: 50rem; height: 100%;">
        <div class="card-body ml-auto">
            <button type="button" 
                    class="btn btn-primary"
                    (click)="goToAddMovie()">
                    Add New Movie
            </button>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>{{movie.title}}</h5>
                        </div>
                        <div class="col-sm-3 ml-auto">
                            <p>{{movie.release}}</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- <img [src]="'public/img/'+movie.image" alt=""> -->
                    <p>{{movie.description}}</p>
                </div>
            </div>
        </div>
</div>