<div    class="card" 
        style="width: 18rem;">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5 class="card-title">{{datamovie.title}}</h5></li>
            <li class="list-group-item">
                <h6 class="card-subtitle mb-2 text-muted">Release Date: {{datamovie.release}}</h6>
                <button type="button" 
                    class="btn btn-danger"
                    (click)="deleteMovie(datamovie)">
                    Delete
                </button>
            </li>
        </ul>       
    </div>
</div>
